<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<Configuration status="INFO">-->
<!--    <Appenders>-->
<!--        <Console name="Console" target="SYSTEM_OUT">-->
<!--            <PatternLayout pattern="[%-5level] %d{dd-MM-yyyy HH:mm:ss} [%t] %c{1} - %msg%n"/>-->
<!--        </Console>-->
<!--        <File name="LogToFile" fileName="logs/log_/-%d{dd-MM-yyyy}.log">-->
<!--            <PatternLayout pattern="[%-5level] %d{dd-MM-yyyy HH:mm:ss} [%t] %c{1} - %msg%n"/>-->
<!--        </File>-->
<!--    </Appenders>-->
<!--    <Loggers>-->
<!--        <Logger name="LogFile" level="debug" additivity="false">-->
<!--            <AppenderRef ref="LogToFile"/>-->
<!--            <AppenderRef ref="Console"/>-->
<!--        </Logger>-->
<!--        <Root level="info">-->
<!--            <AppenderRef ref="LogToFile"/>-->
<!--            <AppenderRef ref="Console"/>-->
<!--        </Root>-->
<!--    </Loggers>-->
<!--</Configuration>-->